.env
/vendor/
/node_modules/

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/storage/app/*
!/storage/app/.gitignore
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-debug.log
yarn-error.log
