.env
/vendor/
/node_modules/
/storage/*.key
/storage/app/*
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-debug.log
yarn-error.log
